@import url('m3-svelte/misc/styles.css');
@import url('m3-svelte/misc/recommended-styles.css');
/*  */

iconify-icon {
	display: inline-block;
	width: 1em;
	height: 1em;
}

body {
	margin: 0;
	padding: 0;
	background: rgb(var(--m3-scheme-background));
	color: rgb(var(--m3-scheme-on-background));
	font-family: 'Roboto Flex', sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	min-height: 100vh;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

@media (prefers-color-scheme: light) {
	:root {
		color-scheme: light;
	}
	:root,
	::backdrop {
		--m3-scheme-primary: 101 85 143;
		--m3-scheme-surface-tint: 103 80 164;
		--m3-scheme-on-primary: 255 255 255;
		--m3-scheme-primary-container: 234 221 255;
		--m3-scheme-on-primary-container: 79 55 139;
		--m3-scheme-secondary: 98 91 113;
		--m3-scheme-on-secondary: 255 255 255;
		--m3-scheme-secondary-container: 232 222 248;
		--m3-scheme-on-secondary-container: 74 68 88;
		--m3-scheme-tertiary: 125 82 96;
		--m3-scheme-on-tertiary: 255 255 255;
		--m3-scheme-tertiary-container: 255 216 228;
		--m3-scheme-on-tertiary-container: 99 59 72;
		--m3-scheme-error: 179 38 30;
		--m3-scheme-on-error: 255 255 255;
		--m3-scheme-error-container: 249 222 220;
		--m3-scheme-on-error-container: 140 29 24;
		--m3-scheme-background: 254 247 255;
		--m3-scheme-on-background: 29 27 32;
		--m3-scheme-surface: 254 247 255;
		--m3-scheme-on-surface: 29 27 32;
		--m3-scheme-surface-variant: 231 224 236;
		--m3-scheme-on-surface-variant: 73 69 79;
		--m3-scheme-outline: 121 116 126;
		--m3-scheme-outline-variant: 202 196 208;
		--m3-scheme-shadow: 0 0 0;
		--m3-scheme-scrim: 0 0 0;
		--m3-scheme-inverse-surface: 50 47 53;
		--m3-scheme-inverse-on-surface: 245 239 247;
		--m3-scheme-inverse-primary: 208 188 255;
		--m3-scheme-primary-fixed: 234 221 255;
		--m3-scheme-on-primary-fixed: 33 0 93;
		--m3-scheme-primary-fixed-dim: 208 188 255;
		--m3-scheme-on-primary-fixed-variant: 79 55 139;
		--m3-scheme-secondary-fixed: 232 222 248;
		--m3-scheme-on-secondary-fixed: 29 25 43;
		--m3-scheme-secondary-fixed-dim: 204 194 220;
		--m3-scheme-on-secondary-fixed-variant: 74 68 88;
		--m3-scheme-tertiary-fixed: 255 216 228;
		--m3-scheme-on-tertiary-fixed: 49 17 29;
		--m3-scheme-tertiary-fixed-dim: 239 184 200;
		--m3-scheme-on-tertiary-fixed-variant: 99 59 72;
		--m3-scheme-surface-dim: 222 216 225;
		--m3-scheme-surface-bright: 254 247 255;
		--m3-scheme-surface-container-lowest: 255 255 255;
		--m3-scheme-surface-container-low: 247 242 250;
		--m3-scheme-surface-container: 243 237 247;
		--m3-scheme-surface-container-high: 236 230 240;
		--m3-scheme-surface-container-highest: 230 224 233;
		--m3-font: 'Roboto Flex', sans-serif;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;
	}
	:root,
	::backdrop {
		--m3-scheme-primary: 208 188 254;
		--m3-scheme-surface-tint: 208 188 255;
		--m3-scheme-on-primary: 56 30 114;
		--m3-scheme-primary-container: 79 55 139;
		--m3-scheme-on-primary-container: 234 221 255;
		--m3-scheme-secondary: 204 194 220;
		--m3-scheme-on-secondary: 51 45 65;
		--m3-scheme-secondary-container: 74 68 88;
		--m3-scheme-on-secondary-container: 232 222 248;
		--m3-scheme-tertiary: 239 184 200;
		--m3-scheme-on-tertiary: 73 37 50;
		--m3-scheme-tertiary-container: 99 59 72;
		--m3-scheme-on-tertiary-container: 255 216 228;
		--m3-scheme-error: 242 184 181;
		--m3-scheme-on-error: 96 20 16;
		--m3-scheme-error-container: 140 29 24;
		--m3-scheme-on-error-container: 249 222 220;
		--m3-scheme-background: 20 18 24;
		--m3-scheme-on-background: 230 224 233;
		--m3-scheme-surface: 20 18 24;
		--m3-scheme-on-surface: 230 224 233;
		--m3-scheme-surface-variant: 73 69 79;
		--m3-scheme-on-surface-variant: 202 196 208;
		--m3-scheme-outline: 147 143 153;
		--m3-scheme-outline-variant: 73 69 79;
		--m3-scheme-shadow: 0 0 0;
		--m3-scheme-scrim: 0 0 0;
		--m3-scheme-inverse-surface: 230 224 233;
		--m3-scheme-inverse-on-surface: 50 47 53;
		--m3-scheme-inverse-primary: 103 80 164;
		--m3-scheme-primary-fixed: 234 221 255;
		--m3-scheme-on-primary-fixed: 33 0 93;
		--m3-scheme-primary-fixed-dim: 208 188 255;
		--m3-scheme-on-primary-fixed-variant: 79 55 139;
		--m3-scheme-secondary-fixed: 232 222 248;
		--m3-scheme-on-secondary-fixed: 29 25 43;
		--m3-scheme-secondary-fixed-dim: 204 194 220;
		--m3-scheme-on-secondary-fixed-variant: 74 68 88;
		--m3-scheme-tertiary-fixed: 255 216 228;
		--m3-scheme-on-tertiary-fixed: 49 17 29;
		--m3-scheme-tertiary-fixed-dim: 239 184 200;
		--m3-scheme-on-tertiary-fixed-variant: 99 59 72;
		--m3-scheme-surface-dim: 20 18 24;
		--m3-scheme-surface-bright: 59 56 62;
		--m3-scheme-surface-container-lowest: 15 13 19;
		--m3-scheme-surface-container-low: 29 27 32;
		--m3-scheme-surface-container: 33 31 38;
		--m3-scheme-surface-container-high: 43 41 48;
		--m3-scheme-surface-container-highest: 54 52 59;
		--m3-font: 'Roboto Flex', sans-serif;
	}
}